<div class="about-page">
    <div>
        <h5><i class="fa fa-utensils"></i> About Recipe Book </h5>
        <p>Welcome to Recipe Book, your go-to destination for delicious, easy-to-make, and diverse recipes from around the world! Whether you are a beginner or an experienced cook, our goal is to help you explore new flavors and make cooking an enjoyable experience.</p>
    </div>
    <div>
        <h5>Why We Created Recipe Book</h5>
        <p>We believe that cooking should be simple, enjoyable, and accessible to everyone. Recipe Book was born out of a passion for sharing homemade recipes that bring people together. Our carefully curated collection includes traditional classics, modern dishes, quick meals, and healthy alternatives to suit all tastes and skill levels.</p>
    </div>
    
    <div>
        <h5> What You Will Find Here</h5>
        <ul>
            <li> Step-by-step recipes with clear instructions.</li>
            <li> Mouth-watering food photos.</li>
            <li> Personal cooking tips and tricks</li>
        </ul>
    </div>
    <div>
        <h5>Join Our Food Journey</h5>
        We are continuously adding new recipes and improving the site. We’d love to hear from you! Feel free to <b>contact us</b> or <b>share your own recipes</b> to be part of our growing food community.
    </div>
    <div class="mt-2">
        Happy Cooking! 🍳
    </div>
        
</div>
