.recipes-page{
    margin :10px;
    .recipe-card{
        display: flex;
    } 
    .image-container {
  width: 100%;
  height: 200px; /* you can adjust this height */
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This is the key */
}
.card-text{
    height:100px
}
}