/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body{
    font-family:'Playfair Display' , serif;
    // font-family: 'Lato', sans-serif;
    .btn-primary{
        background-color: #8b7420a6;
        color: white;
        border-color: #8b7420a6;
    }
    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:focus
    {
        background-color: #8b7420a6 !important;
        color: white;
         border-color: #8b7420a6 !important;
    }
    .btn-primary:active{
         box-shadow: none;
    }
}