    .home-content{
   
    background-image: url('../../assets/bg-img-2.jpg');
      background-size: cover;
    height: 90vh;
    background-repeat: no-repeat;
    max-width: 100%;
        .title{
              text-align: center;
            position: relative;
            top: 35%;
            color: #8b7420a6;
        }
       
    }